
body{background:#020617;color:#fff;font-family:Arial;padding:10px}
h1{text-align:center;color:#22d3ee}
.card{background:#020617;border:1px solid #334155;border-radius:10px;padding:10px;margin:10px 0}
button,select{width:100%;padding:10px;margin-top:5px;font-size:16px}
